//Esquema de colores
$light-blue: #92DCE5;
$salmon: #EF6360;
$black: #000000;
$silver: #A9A9A9;
$white: #fff;

//Font Family

$rubik: 'Rubik', sans-serif;

//Peso de fuentes
$light: 300;
$regular: 400;
$bold: 700;

//Tamaños de fuentes

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 8px;
